
<form name="myform"
 
#f="ngForm"
novalidate>

<table class="addtable">

  <tr height="50"></tr>
  <tr>
  <td  colspan="3">
      <h2 *ngIf="!edited">
          <label>Add Task</label>
      </h2>
      <h2 *ngIf="edited">
          <label>Update Task</label>
      </h2>
  </td>
  </tr>
  
  <tr>
      <td>
        <label>Project</label>   
      </td>
      <td>
      <input type="text" 
      class="form-control" #ProjectNameV="ngModel" 
      
      [ngClass]="{ 'is-invalid': f.submitted && ProjectNameV.invalid }"
     required [(ngModel)]="taskDetails.Project_Name" readonly
      [disabled]="IsParentTask"
      name="ProjectName"  required/>
      <button  [disabled]="IsParentTask" [disabled]="edited" (click)='projectModalDialog()'>Search</button>
      </td>
            <td color="red">
              <div  *ngIf="ProjectNameV.errors?.required">
                    Project is required.
                  </div>  
                
      
      <td>
          <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':projectdisplay}">
                <!-- modal-dialog -->
                <div class="modal-dialog" role="document">
                  <!-- modal-content -->
                  <div class="modal-content">
                    <!-- modal-header -->
                    <div class="modal-header">
                     
                      <h4 class="modal-title">Select Project</h4>
                    </div>
              
                    <!-- modal-body -->
                    <div class="modal-body">
                    
                          <div>
                              <input type="text" class="textbox" name="SearchManager"  [(ngModel)] ="searchProject" placeholder="Search..." >
                          </div>      
                          <div>
                              <table border="true" class ="viewtable" *ngIf="projectsdata">
                                  <tr>
                                     <th>
                                       Project ID
                                     </th>
                                      <th>
                                        Project Name
                                      </th>
                                      <th>
                                        Priority
                                      </th>
                                      <th>
                                        Start Date
                                      </th>
                                      <th>
                                        End Date
                                      </th>
                                      
                                    </tr>
                                         
                                      <tr  *ngFor="let project of projectsdata | projectfilterPipe:searchProject ">
                                        <td>
                                          {{project.Project_ID}}
                                        </td>
                                        <td>
                                          {{project.Project_Name}}
                                        </td>
                                        <td>
                                            {{project.Priority}}
                                        </td>
                                        <td>
                                          <!-- {{project.StartDate}} -->
                                          {{getStartDate(project.Start_Date)}}
                                        </td>
                                        <td>
                                            <!-- {{project.EndDate}} -->
                                            {{getEndDate(project.End_Date)}}
                                        </td>
                                       
                                           
                                      <td><button (click)='select(project)'>SELECT</button></td>
                                    </tr>
                                </table>
                          </div>
                         
                     
                    </div>
              
                    <!-- modal-footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" (click)="closeProjectModalDialog()" >Close</button>
                    </div>
                  </div>
                </div>
              </div>
          </td>
    
  </tr>
  <tr>
      <td>
        <label>Task </label>   
      </td>
      <td>
      <input type="text" 
      class="form-control" #TaskNameV="ngModel" 
      
      [ngClass]="{ 'is-invalid': f.submitted && TaskNameV.invalid }"
     required [(ngModel)]="taskDetails.TaskName"
      
      name="TaskName"  required/>
      </td>
      <td color="red">
              <div  *ngIf="TaskNameV.errors?.required">
                    Task Name is required.
                  </div>  
                
      </td>
    </tr>
    
    <tr *ngIf="!edited" >
      
        <td align="left" >
               
            <input type="checkbox"  align="left" name="IsParentTask1" 
            class="form-control parent-task"         
            [(ngModel)]="IsParentTask" (click)='IsParentTaskClick()' >
            Is Parent Task
        </td>
     
        <td></td>
        <td></td>
    </tr>
  
  <tr>
      <td>
        <label>Priority</label>        
      </td>
      <table>
      <td>
          <input type = "range" name="Priority"
          class="form-control" #PriorityV="ngModel"  [disabled]="IsParentTask"
          
      [ngClass]="{ 'is-invalid': f.submitted && PriorityV.invalid }"
     required       
          
          [(ngModel)]="taskDetails.Priority"/> 
         
      </td>
    </table>
      <td color="red">
              <div  *ngIf="PriorityV.errors?.required">
                    Priority is required.
                  </div>  
                
      </td>
  </tr>
    <tr>
    <td> 
      <label>Parent Task</label>   
    </td>  
    <td>
      <input type="text" name="ParentTask" readonly [(ngModel)]="taskDetails.ParentTask"/>
      <button  [disabled]="IsParentTask" (click)='SearchParentTaskClick()'>Search</button>
      <button [disabled]="IsParentTask"  (click)='ClearParentTask()'>Clear</button>
    </td>
    <td>
            <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':parenttaskdisplay}">
                    <!-- modal-dialog -->
                    <div class="modal-dialog" role="document">
                      <!-- modal-content -->
                      <div class="modal-content">
                        <!-- modal-header -->
                        <div class="modal-header">
                         
                          <h4 class="modal-title">Select Parent Task</h4>
                        </div>
                  
                        <!-- modal-body -->
                        <div class="modal-body">
                        
                              <div>
                                  <input type="text" class="textbox" name="SearchParentTask"  [(ngModel)] ="searchParentTask" placeholder="Search..." >
                              </div>      
                              <div>
                                <table border="true" height="20" class="addtable" *ngIf="parentTaskData">
                                  <tr>
                                      <th *ngFor="let col of parenttaskcolumns">
                                        {{col}}
                                      </th>
                                      <th>
                                        <label></label>
                                      </th>
                                      
                                    
                                    </tr>
                                   
                                    <tr  *ngFor="let parentTask of parentTaskData">
                                      <td *ngFor="let col of parenttaskcolumns">
                                        {{parentTask[col]}}
                                      </td>
                                      <td><button  (click)='selectparentask(parentTask)'>SELECT</button></td>         
                                      
                                    </tr>
                                </table>
                              </div>
                             
                         
                        </div>
                  
                        <!-- modal-footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" (click)="closeParenTaskModalDialog()" >Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
    </td>
  </tr>
  
  <tr>
      <td>
          <label>Start Date</label>      
      </td>
      <td>
          <input type="date" name="StartDate"
          class="form-control" #StartDateV="ngModel"  [disabled]="IsParentTask"
          
          [ngClass]="{ 'is-invalid': f.submitted && StartDateV.invalid }"
         required       
             
          
          [(ngModel)]="taskDetails.Start_Date"/>
      </td>
      <td color="red">
              <div  *ngIf="StartDateV.errors?.required">
                    StartDate is required.
                  </div>  
                
      </td>
  </tr>
  <tr>    
      <td>
          <label>End Date</label>       
      </td>
      <td>
          <input type = "date" name="EndDate"
          class="form-control" #EndDateV="ngModel" 
      
          [ngClass]="{ 'is-invalid': f.submitted && EndDateV.invalid }"
         required       
         min="{{taskDetails.Start_Date}}"
         [disabled]="IsParentTask"
          
          [(ngModel)]="taskDetails.End_Date"/>
      </td>
      <td color="red">
              <div  *ngIf="EndDateV.errors?.required">
                      EndDate is required.
                  </div>  
                
      </td>
  </tr>
  <tr>    
      <td>
          <label>User</label>       
      </td>
      <td>
         <input name="UserName" type="text" #TaskOwnerV="ngModel"
          [(ngModel)]="taskDetails.UserName" [disabled]="IsParentTask"   [ngClass]="{ 'is-invalid': f.submitted && TaskOwnerV.invalid }"
         required readonly/>
          <button  [disabled]="IsParentTask"  (click)='userOpenModalDialog()'>Search</button>
      </td>
      <td color="red">
          <div  *ngIf="TaskOwnerV.errors?.required">
                Task Owner is required.
              </div>  
            
    </td>
      <td>
            <div [ngStyle]="{'display':userdisplay}"></div>
  
            <!-- modal -->
            <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':userdisplay}">
              <!-- modal-dialog -->
              <div class="modal-dialog" role="document">
                <!-- modal-content -->
                <div class="modal-content">
                  <!-- modal-header -->
                  <div class="modal-header">
                   
                    <h4 class="modal-title">Select User</h4>
                  </div>
            
                  <!-- modal-body -->
                  <div class="modal-body">
                  
                        <div>
                            <input type="text" class="textbox" name="SearchManager"  [(ngModel)] ="searchManager" placeholder="Search..." >
                        </div>      
                        <div>
                          <table border="true"  *ngIf="usersdata">
                            <tr>
                                <th *ngFor="let col of usercolumns">
                                  {{col}}
                                </th>
                                <th>
                                  <label></label>
                                </th>
                                
                              
                              </tr>
                             
                              <tr  *ngFor="let user of usersdata | userfilterPipe:searchManager">
                                <td *ngFor="let col of usercolumns">
                                  {{user[col]}}
                                </td>
                                <td><button  (click)='selectuser(user)'>SELECT</button></td>         
                                
                              </tr>
                          </table>
                        </div>
                       
                   
                  </div>
            
                  <!-- modal-footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="closeUserModalDialog()" >Close</button>
                  </div>
                </div>
              </div>
            </div>
      </td>
      <!-- <td color="red">
              <div  *ngIf="UserV.errors?.required">
                      User is required.
                  </div>  
                
      </td> -->
  </tr>
  <tr>
    <td colspan="3">
          <div class="form-group">

                  <button (click)='addTask()' *ngIf="!edited" [disabled]="f.invalid" class="btn btn-primary">Add Task</button>
                  <button (click)='updateTask()' *ngIf="edited" [disabled]="f.invalid" class="btn btn-primary">Update Task</button>
                  <button (click)='reset()'>Reset</button>
              </div>
     
    </td>  
  </tr>
  </table>
</form>