<table class = "searchtable">
    <tr>
          <td width="20%">
            <label>Project</label>
          </td> 
          <td width="20%">
            <input type="text" id="Task" [(ngModel)] ="searchProject" readonly placeholder="Search.." >
            <button  (click)='OpenprojectModalDialog()'>Search</button>
          </td>
          <td align= "left" width= "60%">
          <label>Sort Task : </label>
          <button (click) = "sortTasks('Start_Date')">Start Date</button>
          <button (click) = "sortTasks('End_Date')">End Date</button>
          <button (click) = "sortTasks('Priority')">Priority</button>
          <button (click) = "sortTasks('Status')">Completed</button>
          </td>
         
    </tr>
  
  <tr>

  <td>

  
<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':projectdisplay}">
  <!-- modal-dialog -->
  <div class="modal-dialog" role="document">
    <!-- modal-content -->
    <div class="modal-content">
      <!-- modal-header -->
      <div class="modal-header">
       
        <h4 class="modal-title">Select Project</h4>
      </div>

      <!-- modal-body -->
      <div class="modal-body">
      
            <div>
                <input type="text" class="textbox" name="SearchManager"   [(ngModel)] ="searchtext"  placeholder="Search..." >
            </div>      
            <div>
              <table border="true" height="20" class="addtable" *ngIf="projectsdata">
                <tr>
                    <th>
                      Project Name
                    </th>
                    <th>
                      Priority
                    </th>
                    <th>
                      Start Date
                    </th>
                    <th>
                      End Date
                    </th>                  
               </tr>
                 
                  <tr  *ngFor="let project of projectsdata | projectfilterPipe:searchtext">
                    <td>
                      {{project.Project_Name}}
                    </td>
                    <td>
                        {{project.Priority}}
                    </td>
                    <td>
                        {{getStartDate(project.Start_Date)}}
                    </td>
                    <td>
                        {{getStartDate(project.End_Date)}}
                    </td>
                    <td><button  (click)='select(project)'>SELECT</button></td>         
                    
                  </tr>
              </table>
            </div>
           
       
      </div>

      <!-- modal-footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeProjectModalDialog()" >Close</button>
      </div>
    </div>
  </div>
</div>
</td>  
</tr>      
  </table>
  
  
  <table border="true" class ="searchtable">
    <tr>
        <th>
          Task
        </th>
        <th>
          Parent
        </th>
        <th>
          Priority
        </th>
        <th>
          Start
        </th>
        <th>
          End
        </th>
      
      </tr>
     
      <tr  *ngFor="let task of tasksdata | taskfilterPipe:searchProjectID">
      <td>
        {{task.TaskName}}
      </td>
      <td *ngIf="parentTaskData">
        {{getParentTask(task.Parent_ID)}} 
        
      </td>
      <td>
        {{task.Priority}}        
      </td>
      <td >
        {{task.Start_Date.substr(0,10)}}        
      </td>
      <td>
        {{task.End_Date.substr(0,10)}}
      </td>
        <td><button (click)='redirectPage(task)' [disabled]="task.Status ! == '1'">EDIT TASK</button></td>
        <td><button (click)='endTask(task)' [disabled]="task.Status ! == '1'">END TASK</button></td>
        <td><button (click)='deleteTask(task)' [disabled]="task.Status ! == '1'">DELETE TASK</button></td>
      </tr>
  </table>
  
  