table.addtable
{

 vertical-align: left;
background-color:rgb(160, 163, 162);
text-align: left;   
width: 80%;
}


table.addtable td
{
    text-align: left;
color: white;
     
}
table.addtable tr
{
    height: 30px;
     
}

table.addtable input {
     /* width: 45%;  */
}
table.addtable button {
    
    vertical-align: center;
    background-color: rgb(160, 163, 162);
    color: blue;
}

table.searchtable
{

 vertical-align: left;
background-color: rgb(160, 163, 162);
text-align: left;   
width: 80%;
}
table.searchtable td
{
    text-align: left;
color:black;  
 
}
table.searchtable button {
    
    vertical-align: center;
    background-color: rgb(160, 163, 162);
    color: blue;
}