table.addtable
{

 vertical-align: center;
background-color: rgb(160, 163, 162);
text-align: center;   
width: 80%;
}


table.addtable td
{
    text-align: left;
color: black;
width: 10%; 
}
table.addtable tr
{
    height: 30px;
     
}

table.addtable input {
    width: 45%;
}
table.addtable button {
    
    vertical-align: center;
    background-color: rgb(160, 163, 162);
    color: black;
}

table.searchtable
{

 vertical-align: center;
background-color: rgb(160, 163, 162);
text-align: center;   
width: 80%;
}
table.searchtable td
{
    text-align: left;
color: white;  
 
}
table.searchtable button {
    
    vertical-align: center;
    background-color: rgb(160, 163, 162);
    color: blue;
}
table.viewtable
{

 vertical-align: center;
background-color:  rgb(160, 163, 162);
text-align: center;   
width: 80%;
}


table.viewtable td
{
    text-align: center;
color: black;
     
}
table.viewtable tr
{
    height: 30px;
     
}

table.viewtable input {
    width: 65%;
}
table.viewtable select {
    width: 65%;
}
table.viewtable button {
    
    vertical-align: center;
    background-color:   rgb(160, 163, 162);
    color: blue;
}


